extends layout

block content
    div(class='container-fluid')
        div(class='navbar navbar-default navbar-fixed-top')
            div(class='container')
                div(class='navbar-header')
                    button(type='button', data-toggle='collapse', data-target='.navbar-collapse', class='navbar-toggle')
                        span(class='icon-bar')
                        span(class='icon-bar')
                        span(class='icon-bar')
                    a(class='navbar-brand', href='/') OB
                div(class='collapse navbar-collapse')
                    ul(class='nav navbar-nav')
                        li(class='active')
                            a(href='/')
                                span(class='glyphicon glyphicon-home')
                        li
                            a(href='/about')
                                span(class='glyphicon glyphicon-info-sign')
                        li
                            a(href='/portfolio')
                                span(class='glyphicon glyphicon-folder-open')
                        li
                            a(href='/reader')
                                span(class='glyphicon glyphicon-book')
