doctype html
html(lang='en', ng-app='myApp')
    block head
        title= ('Otto Borden - Cutting Teeth')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap-theme.min.css')
    body
        block navbar

        block footer

        block scripts
            script(src='/jquery/dist/jquery.min.js')
            script(src='/angular/angular.min.js')
            script(src='/angular-route/angular-route.min.js')
            script(src='/bootstrap/dist/js/bootstrap.min.js')
            script(src='/javascripts/app.js')
            script(src='/javascripts/appRoutes.js')
            script(src='/javascripts/features/reader/ReaderModule.js')
            script(src='/javascripts/features/reader/ReaderController.js')
            script(src='/javascripts/features/reader/ReaderDirective.js')
            script(src='/javascripts/features/about/AboutModule.js')
            script(src='/javascripts/features/about/AboutController.js')
            script(src='/javascripts/features/about/AboutDirective.js')
