extends index

block contentArea
    h1 Good Reading

    each story in stories
        div(class='well storyOverview')
            h3 #{story.title}
            p #[em #{story.date}]
            p #{story.summary}
            p #{story.description}
            a(href='#') Read More