html {

}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url('/images/keyboard.1680x1050.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    color: #00B7FF;
}

.row > .top-buffer {
    padding-top: 25px;
}

.navbar-default {
    opacity: 0.8;
}

.contentArea {
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
}